:root {
  --bg: #fefefe; /* not converting as val of #FFFFFF and #FEFEFE is same in HSL */
  --bg-tint: hsl(0, 0%, 96%);

  --github: hsl(0, 2%, 9%);
  --github-light-1: hsl(0, 2%, 43%);
  --github-light-2: hsl(0, 2%, 59%);

  --github-blue: hsl(205, 100%, 37%);
  --github-blue-light-1: hsl(205, 100%, 87%);
  --github-blue-light-2: hsl(205, 100%, 97%);

  --text: var(--github);
  --text-secondary: var(--github-light-1);
  --text-light: var(--github-light-2);

  --white: #ffffff;
}
