@use "../styles/shared";

.container {
  @extend %page;
  display: grid;
  place-items: center;
  background-image: url(../assets/bg/home-page-bg.svg);
  background-size: cover;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
  margin-bottom: 8px;
}

.word2 {
  color: var(--github-blue);
}

.tagLine {
  color: var(--text-secondary);
  margin-bottom: 24px;
}

.searchForm {
  position: relative;
}

.userInput {
  min-width: 60vw;
}

.userInputField {
  padding-right: 40px;
}

.submitBtn {
  position: absolute;
  right: 4px;
  top: 6px;
  background-color: inherit;

  & > svg {
    fill: var(--github-light-1);
  }

  &:hover {
    & > svg {
      fill: var(--github);
    }
  }
}

@media screen and (max-width: 600px) {
  .tagLine {
    font-size: 0.8rem;
  }
}
