.container {
  display: grid;
  grid-template-columns: repeat(5, 10px);
  gap: 10px;
  & > div {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--github-light-1);
  }
}
