@use "../styles/shared";

.container {
  @extend %page;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 20%;
}

.userInput {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 32px;
  }
}
