.container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
