.container {
  background-color: var(--github-blue-light-2);
}

.loadingRepos {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 16px;
  margin-bottom: 32px;
}

.loadMore {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--github-blue);
  margin-bottom: 32px;

  &:hover {
    background-color: var(--github-blue-tint);
  }
}

.reposTitle {
  color: var(--text);
  padding: 32px;
}

.repos {
  padding: 0 32px;
  overflow-y: scroll;
  max-height: calc(100vh - 126px);
}

@media screen and (max-width: 800px) {
  .container {
    height: 100vh;
  }
  .repos {
    max-height: calc(100vh - 94px);
  }
}
